@import "tailwindcss";

body {
  margin: 0;
  background: #e2c7f0;
  color:  #e2c7f0 ;
  font-family: sans-serif;
}

/* smooth UI */
button {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
}